.container__articles {
  margin-top: 30px;

  @media (min-width: 700px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.container__home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  width: 80%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.post img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.articles__main {
  flex: 3;
  margin-right: 20px;
}

.articles__others {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.articles__small-cards {
  flex: 1;
  margin-left: 20px;
}

.articles__small-cards h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
}

.articles__small-cards app-small-card {
  margin-bottom: 10px;
}

.container__small-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.container__small-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.container__small-card h1 {
  font-size: 1rem;
  text-align: center;
  color: #333;
}

.container__small-card__separator hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}